<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h3>Register</h3>
     <form action="register" method="POST">
        <div>
            <label for="username">Enter username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="email">Enter email</label>
            <input type="email" name="email" value="" id="email">
        </div>
        <div>
            <label for="password">Enter password</label>
            <input type="password" name="password" value="" id="password">
        </div>
          <div>
            <label for="password2">Repeat password</label>
            <input type="password" name="password2" value="" id="password2">
        </div>
        <button type="submit">Submit</button>
    </form>
    <a href="login">Login</a>
</body>
</html>